<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aravind.androidexamples">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Alert.AlertDialog" />
        <activity android:name=".SplashScreenExample.SplashScreen" />
        <activity android:name=".EmailSMSPhone.ESPActivity" />
        <activity android:name=".SqliteExample.SqliteMain" />
        <activity android:name=".SqliteExample.AddData" />
        <activity android:name=".SharedPref.SharedPrefActivity" />
        <activity
            android:name=".NavExample.NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TabExample.TabbedActivity"
            android:label="@string/title_activity_tabbed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Toast_SnackBar.TSActivity"
            android:label="@string/title_activity_tabbed"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".IntentExample.FirstActivity">

        </activity>
        <activity android:name=".IntentExample.SecondActivity" />
        <activity android:name=".ListViewExample.ListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>